In [17]:
import pandas as pd

In [18]:
df=pd.read_csv('Data_Train.csv')
df

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR ? DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897
1,Air India,1/05/2019,Kolkata,Banglore,CCU ? IXR ? BBI ? BLR,05:50,13:15,7h 25m,2 stops,No info,7662
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL ? LKO ? BOM ? COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU ? NAG ? BLR,18:05,23:30,5h 25m,1 stop,No info,6218
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR ? NAG ? DEL,16:50,21:35,4h 45m,1 stop,No info,13302
...,...,...,...,...,...,...,...,...,...,...,...
10678,Air Asia,9/04/2019,Kolkata,Banglore,CCU ? BLR,19:55,22:25,2h 30m,non-stop,No info,4107
10679,Air India,27/04/2019,Kolkata,Banglore,CCU ? BLR,20:45,23:20,2h 35m,non-stop,No info,4145
10680,Jet Airways,27/04/2019,Banglore,Delhi,BLR ? DEL,08:20,11:20,3h,non-stop,No info,7229
10681,Vistara,01/03/2019,Banglore,New Delhi,BLR ? DEL,11:30,14:10,2h 40m,non-stop,No info,12648
10682,Air India,9/05/2019,Delhi,Cochin,DEL ? GOI ? BOM ? COK,10:55,19:15,8h 20m,2 stops,No info,11753

In [19]:
df['Total_Stops'].unique()

array(['non-stop', '2 stops', '1 stop', '3 stops', nan, '4 stops'],
      dtype=object)

In [20]:
df.dropna(subset=['Total_Stops'], inplace=True)
df['Total_Stops'].unique()

array(['non-stop', '2 stops', '1 stop', '3 stops', '4 stops'],
      dtype=object)

In [21]:
df['Total_Stops']=df['Total_Stops'].apply(lambda x: '0' if x == 'non-stop' else x)
df['Total_Stops']=pd.to_numeric(df['Total_Stops'].apply(lambda x: x.split(' ')[0]))
df['Total_Stops'].unique()

array([0, 2, 1, 3, 4], dtype=int64)

In [22]:
df.dropna(subset=['Price'], inplace=True)
df.dropna(subset=['Duration'], inplace=True)
df.dropna(subset=['Arrival_Time'], inplace=True)
df.dropna(subset=['Route'], inplace=True)
df.dropna(subset=['Dep_Time'], inplace=True)
df.dropna(subset=['Destination'], inplace=True)
df.dropna(subset=['Source'], inplace=True)
df.dropna(subset=['Date_of_Journey'], inplace=True)
df.dropna(subset=['Airline'], inplace=True)
df['Duration'].unique()

array(['2h 50m', '7h 25m', '19h', '5h 25m', '4h 45m', '2h 25m', '15h 30m',
       '21h 5m', '25h 30m', '7h 50m', '13h 15m', '2h 35m', '2h 15m',
       '12h 10m', '26h 35m', '4h 30m', '22h 35m', '23h', '20h 35m',
       '5h 10m', '15h 20m', '2h 55m', '13h 20m', '15h 10m', '5h 45m',
       '5h 55m', '13h 25m', '22h', '5h 30m', '10h 25m', '5h 15m',
       '2h 30m', '6h 15m', '11h 55m', '11h 5m', '8h 30m', '22h 5m',
       '2h 45m', '12h', '16h 5m', '19h 55m', '3h 15m', '25h 20m', '3h',
       '16h 15m', '15h 5m', '6h 30m', '25h 5m', '12h 25m', '27h 20m',
       '10h 15m', '10h 30m', '1h 30m', '1h 25m', '26h 30m', '7h 20m',
       '13h 30m', '5h', '19h 5m', '14h 50m', '2h 40m', '22h 10m',
       '9h 35m', '10h', '21h 20m', '18h 45m', '12h 20m', '18h', '9h 15m',
       '17h 30m', '16h 35m', '12h 15m', '7h 30m', '24h', '8h 55m',
       '7h 10m', '14h 30m', '30h 20m', '15h', '12h 45m', '10h 10m',
       '15h 25m', '14h 5m', '20h 15m', '23h 10m', '18h 10m', '16h',
       '2h 20m', '8h', '16h 55m', '3h 10m', '14h', '23h 50m', '21h 40m',
       '21h 15m', '10h 50m', '8h 15m', '8h 35m', '11h 50m', '27h 35m',
       '8h 25m', '20h 55m', '4h 50m', '8h 10m', '24h 25m', '23h 35m',
       '25h 45m', '26h 10m', '28h 50m', '25h 15m', '9h 20m', '9h 10m',
       '3h 5m', '11h 30m', '9h 30m', '17h 35m', '5h 5m', '25h 50m', '20h',
       '13h', '18h 25m', '24h 10m', '4h 55m', '25h 35m', '6h 20m',
       '18h 40m', '19h 25m', '29h 20m', '9h 5m', '10h 45m', '11h 40m',
       '22h 55m', '37h 25m', '25h 40m', '13h 55m', '8h 40m', '23h 30m',
       '12h 35m', '24h 15m', '1h 20m', '11h', '11h 15m', '14h 35m',
       '12h 55m', '9h', '7h 40m', '11h 45m', '24h 55m', '17h 5m',
       '29h 55m', '22h 15m', '14h 40m', '7h 15m', '20h 10m', '20h 45m',
       '27h', '24h 30m', '20h 25m', '5h 35m', '14h 45m', '5h 40m',
       '4h 5m', '15h 55m', '7h 45m', '28h 20m', '4h 20m', '3h 40m',
       '8h 50m', '23h 45m', '24h 45m', '21h 35m', '8h 5m', '6h 25m',
       '15h 50m', '26h 25m', '24h 50m', '26h', '23h 5m', '7h 55m',
       '26h 20m', '23h 15m', '5h 20m', '4h', '9h 45m', '8h 20m',
       '17h 25m', '7h 5m', '34h 5m', '6h 5m', '5h 50m', '7h', '4h 25m',
       '13h 45m', '19h 15m', '22h 30m', '16h 25m', '13h 50m', '27h 5m',
       '28h 10m', '4h 40m', '15h 40m', '4h 35m', '18h 30m', '38h 15m',
       '6h 35m', '12h 30m', '11h 20m', '7h 35m', '29h 35m', '26h 55m',
       '23h 40m', '12h 50m', '9h 50m', '21h 55m', '10h 55m', '21h 10m',
       '20h 40m', '30h', '13h 10m', '8h 45m', '6h 10m', '17h 45m',
       '21h 45m', '3h 55m', '17h 20m', '30h 30m', '21h 25m', '12h 40m',
       '24h 35m', '19h 10m', '22h 40m', '14h 55m', '21h', '6h 45m',
       '28h 40m', '9h 40m', '16h 40m', '16h 20m', '16h 45m', '1h 15m',
       '6h 55m', '11h 25m', '14h 20m', '12h 5m', '24h 5m', '28h 15m',
       '17h 50m', '20h 20m', '28h 5m', '10h 20m', '14h 15m', '35h 15m',
       '35h 35m', '26h 40m', '28h', '14h 25m', '13h 5m', '37h 20m',
       '36h 10m', '25h 55m', '35h 5m', '19h 45m', '27h 55m', '47h',
       '10h 35m', '1h 35m', '16h 10m', '38h 20m', '6h', '16h 50m',
       '14h 10m', '23h 20m', '17h 40m', '11h 35m', '18h 20m', '6h 40m',
       '30h 55m', '24h 40m', '29h 50m', '28h 25m', '17h 15m', '22h 45m',
       '25h 25m', '21h 50m', '33h 15m', '30h 15m', '3h 35m', '27h 40m',
       '30h 25m', '18h 50m', '27h 45m', '15h 15m', '10h 40m', '26h 15m',
       '36h 25m', '26h 50m', '15h 45m', '19h 40m', '22h 25m', '19h 35m',
       '25h', '26h 45m', '38h', '4h 15m', '25h 10m', '18h 15m', '6h 50m',
       '23h 55m', '17h 55m', '23h 25m', '17h 10m', '24h 20m', '28h 30m',
       '27h 10m', '19h 20m', '15h 35m', '9h 25m', '21h 30m', '34h 25m',
       '18h 35m', '29h 40m', '26h 5m', '29h 5m', '27h 25m', '16h 30m',
       '11h 10m', '28h 55m', '29h 10m', '34h', '30h 40m', '30h 45m',
       '32h 55m', '10h 5m', '35h 20m', '32h 5m', '31h 40m', '19h 50m',
       '33h 45m', '30h 10m', '13h 40m', '19h 30m', '31h 30m', '34h 30m',
       '27h 50m', '38h 35m', '42h 5m', '4h 10m', '39h 5m', '3h 50m', '5m',
       '32h 30m', '31h 55m', '33h 20m', '27h 30m', '18h 55m', '9h 55m',
       '41h 20m', '20h 5m', '31h 50m', '42h 45m', '3h 25m', '37h 10m',
       '29h 30m', '32h 20m', '20h 50m', '40h 20m', '13h 35m', '47h 40m'],
      dtype=object)

In [23]:
def duration_to_minutes(duration):
    if 'h' in duration:
        hours_part = duration.split('h')[0]
        minutes_part = duration.split('h')[1]
        hours = int(hours_part)
        if minutes_part!='':
            minutes = int(minutes_part.split('m')[0])
        else:
            minutes=0
    else:
        hours=0
        minutes=int(duration.split('m')[0])
    total_minutes = hours * 60 + minutes

    return total_minutes

df['Duration'] = df['Duration'].apply(duration_to_minutes)
df['Duration'].unique()

array([ 170,  445, 1140,  325,  285,  145,  930, 1265, 1530,  470,  795,
        155,  135,  730, 1595,  270, 1355, 1380, 1235,  310,  920,  175,
        800,  910,  345,  355,  805, 1320,  330,  625,  315,  150,  375,
        715,  665,  510, 1325,  165,  720,  965, 1195,  195, 1520,  180,
        975,  905,  390, 1505,  745, 1640,  615,  630,   90,   85, 1590,
        440,  810,  300, 1145,  890,  160, 1330,  575,  600, 1280, 1125,
        740, 1080,  555, 1050,  995,  735,  450, 1440,  535,  430,  870,
       1820,  900,  765,  610,  925,  845, 1215, 1390, 1090,  960,  140,
        480, 1015,  190,  840, 1430, 1300, 1275,  650,  495,  515,  710,
       1655,  505, 1255,  290,  490, 1465, 1415, 1545, 1570, 1730, 1515,
        560,  550,  185,  690,  570, 1055,  305, 1550, 1200,  780, 1105,
       1450,  295, 1535,  380, 1120, 1165, 1760,  545,  645,  700, 1375,
       2245, 1540,  835,  520, 1410,  755, 1455,   80,  660,  675,  875,
        775,  540,  460,  705, 1495, 1025, 1795, 1335,  880,  435, 1210,
       1245, 1620, 1470, 1225,  335,  885,  340,  245,  955,  465, 1700,
        260,  220,  530, 1425, 1485, 1295,  485,  385,  950, 1585, 1490,
       1560, 1385,  475, 1580, 1395,  320,  240,  585,  500, 1045,  425,
       2045,  365,  350,  420,  265,  825, 1155, 1350,  985,  830, 1625,
       1690,  280,  940,  275, 1110, 2295,  395,  750,  680,  455, 1775,
       1615, 1420,  770,  590, 1315,  655, 1270, 1240, 1800,  790,  525,
        370, 1065, 1305,  235, 1040, 1830, 1285,  760, 1475, 1150, 1360,
        895, 1260,  405, 1720,  580, 1000,  980, 1005,   75,  415,  685,
        860,  725, 1445, 1695, 1070, 1220, 1685,  620,  855, 2115, 2135,
       1600, 1680,  865,  785, 2240, 2170, 1555, 2105, 1185, 1675, 2820,
        635,   95,  970, 2300,  360, 1010,  850, 1400, 1060,  695, 1100,
        400, 1855, 1480, 1790, 1705, 1035, 1365, 1525, 1310, 1995, 1815,
        215, 1660, 1825, 1130, 1665,  915,  640, 1575, 2185, 1610,  945,
       1180, 1345, 1175, 1500, 1605, 2280,  255, 1510, 1095,  410, 1435,
       1075, 1405, 1030, 1460, 1710, 1630, 1160,  935,  565, 1290, 2065,
       1115, 1780, 1565, 1745, 1645,  990,  670, 1735, 1750, 2040, 1840,
       1845, 1975,  605, 2120, 1925, 1900, 1190, 2025, 1810,  820, 1170,
       1890, 2070, 1670, 2315, 2525,  250, 2345,  230,    5, 1950, 1915,
       2000, 1650, 1135,  595, 2480, 1205, 1910, 2565,  205, 2230, 1770,
       1940, 1250, 2420,  815, 2860], dtype=int64)

In [24]:
def only_month(date):
    data=date.split(' ')
    if len(data)==3:
        return data[2]
    else:
        return 'Unknown'


df['Arrival_Time']=df['Arrival_Time'].apply(only_month)
df['Arrival_Time'].unique()

array(['Mar', 'Unknown', 'Jun', 'May', 'Apr'], dtype=object)

In [25]:
def only_day_num(date):
    data=date.split('/')
    if len(data)==3:
        day=data[0]
        if day[0]=='0':
            return day[1]
        return day
    else:
        return 'Unknown'

df['Day_of_Journey']=df['Date_of_Journey'].apply(only_day_num)
df['Day_of_Journey'].unique()

array(['24', '1', '9', '12', '27', '18', '3', '15', '6', '21'],
      dtype=object)

In [26]:
df

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Day_of_Journey
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR ? DEL,22:20,Mar,170,0,No info,3897,24
1,Air India,1/05/2019,Kolkata,Banglore,CCU ? IXR ? BBI ? BLR,05:50,Unknown,445,2,No info,7662,1
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL ? LKO ? BOM ? COK,09:25,Jun,1140,2,No info,13882,9
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU ? NAG ? BLR,18:05,Unknown,325,1,No info,6218,12
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR ? NAG ? DEL,16:50,Unknown,285,1,No info,13302,1
...,...,...,...,...,...,...,...,...,...,...,...,...
10678,Air Asia,9/04/2019,Kolkata,Banglore,CCU ? BLR,19:55,Unknown,150,0,No info,4107,9
10679,Air India,27/04/2019,Kolkata,Banglore,CCU ? BLR,20:45,Unknown,155,0,No info,4145,27
10680,Jet Airways,27/04/2019,Banglore,Delhi,BLR ? DEL,08:20,Unknown,180,0,No info,7229,27
10681,Vistara,01/03/2019,Banglore,New Delhi,BLR ? DEL,11:30,Unknown,160,0,No info,12648,1
10682,Air India,9/05/2019,Delhi,Cochin,DEL ? GOI ? BOM ? COK,10:55,Unknown,500,2,No info,11753,9

In [27]:
def num_to_name(num):
    if '5' in num or num=='May':
        return 'May'
    if '4' in num or num=='Apr':
        return 'Apr'
    if '3' in num or num=='Mar':
        return 'Mar'
    if '6' in num or num=='Jun':
        return 'Jun'
        

mask = (df['Arrival_Time'] == 'Unknown')
split_values = df['Date_of_Journey'].str.split('/')
df.loc[mask, 'Arrival_Time'] = split_values.apply(lambda x: x[1])
df['Arrival_Time']=df['Arrival_Time'].apply(num_to_name)
df

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Day_of_Journey
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR ? DEL,22:20,Mar,170,0,No info,3897,24
1,Air India,1/05/2019,Kolkata,Banglore,CCU ? IXR ? BBI ? BLR,05:50,May,445,2,No info,7662,1
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL ? LKO ? BOM ? COK,09:25,Jun,1140,2,No info,13882,9
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU ? NAG ? BLR,18:05,May,325,1,No info,6218,12
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR ? NAG ? DEL,16:50,Mar,285,1,No info,13302,1
...,...,...,...,...,...,...,...,...,...,...,...,...
10678,Air Asia,9/04/2019,Kolkata,Banglore,CCU ? BLR,19:55,Apr,150,0,No info,4107,9
10679,Air India,27/04/2019,Kolkata,Banglore,CCU ? BLR,20:45,Apr,155,0,No info,4145,27
10680,Jet Airways,27/04/2019,Banglore,Delhi,BLR ? DEL,08:20,Apr,180,0,No info,7229,27
10681,Vistara,01/03/2019,Banglore,New Delhi,BLR ? DEL,11:30,Mar,160,0,No info,12648,1
10682,Air India,9/05/2019,Delhi,Cochin,DEL ? GOI ? BOM ? COK,10:55,May,500,2,No info,11753,9

In [28]:
df.rename(columns={'Arrival_Time': 'Arrival_Time(month)'}, inplace=True)
df.rename(columns={'Duration': 'Duration(minutes)'}, inplace=True)
df

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time(month),Duration(minutes),Total_Stops,Additional_Info,Price,Day_of_Journey
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR ? DEL,22:20,Mar,170,0,No info,3897,24
1,Air India,1/05/2019,Kolkata,Banglore,CCU ? IXR ? BBI ? BLR,05:50,May,445,2,No info,7662,1
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL ? LKO ? BOM ? COK,09:25,Jun,1140,2,No info,13882,9
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU ? NAG ? BLR,18:05,May,325,1,No info,6218,12
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR ? NAG ? DEL,16:50,Mar,285,1,No info,13302,1
...,...,...,...,...,...,...,...,...,...,...,...,...
10678,Air Asia,9/04/2019,Kolkata,Banglore,CCU ? BLR,19:55,Apr,150,0,No info,4107,9
10679,Air India,27/04/2019,Kolkata,Banglore,CCU ? BLR,20:45,Apr,155,0,No info,4145,27
10680,Jet Airways,27/04/2019,Banglore,Delhi,BLR ? DEL,08:20,Apr,180,0,No info,7229,27
10681,Vistara,01/03/2019,Banglore,New Delhi,BLR ? DEL,11:30,Mar,160,0,No info,12648,1
10682,Air India,9/05/2019,Delhi,Cochin,DEL ? GOI ? BOM ? COK,10:55,May,500,2,No info,11753,9

In [29]:
df.to_csv('FlightCleaned.csv', index=False)

In [30]:
def only_month_num(date):
    data=date.split('/')
    if len(data)==3:
        day=data[1]
      
        return day
    else:
        return 'Unknown'

df['Month_of_Journey']=df['Date_of_Journey'].apply(only_month_num)
df['Month_of_Journey'].unique()

array(['03', '05', '06', '04'], dtype=object)

In [31]:
def only_year_num(date):
    data=date.split('/')
    if len(data)==3:
        day=data[2]
      
        return day
    else:
        return 'Unknown'

df['Year_of_Journey']=df['Date_of_Journey'].apply(only_year_num)
df['Year_of_Journey'].unique()

array(['2019'], dtype=object)